Footer {
    background-color: aqua; 
    height: 80px;
    display: flex;
    align-items: center;

}

#footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
